# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PL
cube
test
/audio
*.log
/texpacks
/.cache
/build
tests/testCube
tests/testSuite
/cc
tests/testPointers
history.txt
/jdk1.8.0_491
/x64_jdk1.8.0_202
/x86_jdk1.8.0_491
